* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
}

.sidebar {
    border: 2px solid blue;
    grid-row: 1 / 3;
    font-size: 2rem;
    padding: 20px;
    background-color: blanchedalmond;
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-template-rows: 70px repeat(5, 40px) 70px;
    grid-auto-rows: 40px;
    gap: 20px;
    align-items: center;
}

.branding-logo {
    height: 2.5rem;
}

.logo {
    height: 2rem;
}

.avatar-small {
    height: 3rem;
}

.avatar-big {
    height: 4rem;
}

.branding {
    font-size: 2.5rem;
}

.spacer {
    margin-bottom: 30px;
}

.header {
    border: 2px solid green;
    background-color: palevioletred;
}

.header-container-one {
    padding: 20px 60px;
    display: grid;
    grid-template-columns: 40px 1fr 40px 50px 100px;
    grid-auto-flow: column;
    align-items: center;
    gap: 10px;
}

.header-container-two {
    padding: 0 60px 20px;
    display: grid;
    grid-template-columns: 70px 1fr 120px 120px 120px;
    grid-auto-flow: column;
    align-items: center;
    gap: 10px;
}

.searchbar {
    margin-right: 100px;
}

.content {

    border: 2px solid yellow;
    display: flex;
}

.content-container-one {
    flex: 1;
    background-color: silver;
    display: grid;
    justify-content: center;
    grid-template-columns: 350px 350px;
    grid-template-rows: 40px;
    grid-auto-rows: 180px;
    gap: 10px;
    padding: 10px;
}

.content-title {
    font-size: 2rem;
}

#projects-title {
    grid-column: 1 / 3;
}

.content-card {
    background-color: coral;
}

.content-container-two {
    padding: 10px;
    width: 25%;
    background-color: palegoldenrod;
    display: grid;
    /* grid-template-rows: 40px 400px 40px 200px; */
    /* Stretched rows because of auto and 100vh in body */
    grid-template-rows: 40px auto 40px auto;
    gap: 10px;
}

.announcements-card {
    background-color: blueviolet;
    margin-bottom: 10px;
    padding: 10px;
    /* height: 250px; */
}

hr {
    width: -20px;
    margin: 10px auto;
}

.trending-card {
    padding: 10px;
    background-color: darkorchid;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-auto-rows: 30px;
    gap: 10px;
    align-items: center;
}