* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr;
    /* This causes stretching of some boxes: */
    height: 100vh;
}

.sidebar {
    grid-row: 1 / 3;
    font-size: 2rem;
    padding: 20px;
    background-color: #e4e395;
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-template-rows: 70px repeat(5, 40px) 70px;
    grid-auto-rows: 40px;
    gap: 20px;
    align-items: center;
}

.branding-logo {
    height: 2.5rem;
}

.logo {
    height: 2rem;
}

.avatar-small {
    height: 3rem;
}

.avatar-big {
    height: 4rem;
}

.branding {
    font-size: 2.5rem;
}

.spacer {
    margin-bottom: 30px;
}

.header {
    background-color: white;
    border-bottom: 1px solid grey;
}

.header-container-one {
    padding: 20px 60px;
    display: grid;
    grid-template-columns: 40px 1fr 40px 50px 100px;
    grid-auto-flow: column;
    align-items: center;
    gap: 10px;
}

.header-container-two {
    padding: 0 60px 20px;
    display: grid;
    grid-template-columns: 70px 1fr 100px 100px 100px;
    grid-auto-flow: column;
    align-items: center;
    gap: 20px;
}

button {
    background-color: #e4e395;
    padding: 10px;
    border: 0;
    border-radius: 20px;
    font-weight: 800;
}

.searchbar {
    margin-right: 100px;
    background-color: #f0efc2;
    border-radius: 20px;
    border: 0;
    height: 30px;
}

.content {
    display: flex;
}

.content-container-one {
    flex: 1;
    background-color: #f0efc2;
    display: grid;
    justify-content: center;
    grid-template-columns: 350px 350px;
    grid-template-rows: 40px;
    grid-auto-rows: 190px;
    gap: 10px;
    padding: 10px;
}

.content-title {
    font-size: 2rem;
}

#projects-title {
    grid-column: 1 / 3;
}

.content-card {
    background-color: rgb(250, 250, 250);
    border-radius: 10px;
    padding: 20px;
    border-left: 8px solid #b8b52e;
}

.icon {
    margin: 0 0 0 10px;
}

.icon-trio {
    text-align: right;
    padding: 20px 0;
}

.content-container-two {
    padding: 10px;
    width: 25%;
    background-color: #f0efc2;
    display: grid;
    /* Fixed rows causes content to overflow if more text is entered: */
    /* grid-template-rows: 40px 400px 40px 200px; */
    /* Stretched rows because of auto and 100vh in body: */
    grid-template-rows: 40px auto 40px auto;
    gap: 10px;
}

.announcements-card {
    background-color: rgb(250, 250, 250);
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 20px;
    /* height: 250px; */
}

hr {
    width: -20px;
    margin: 10px auto;
}

.trending-card {
    padding: 20px;
    background-color: rgb(250, 250, 250);
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-auto-rows: 30px;
    gap: 10px;
    align-items: center;
}