* {
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 175px 1fr;
    height: 100vh;
}

.sidebar {
    border: 2px solid blue;
    grid-row: 1 / 3;
}

.header {
    border: 2px solid green;
}

.content {
    border: 2px solid yellow;
}